/* //////////////////////////RESET//////////////////////////////// */

*,*::before,*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,picture,video,canvas,svg {
    display: block;
    max-width: 100%;
}

input,button,textarea,select {
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

#root,#__next {
    isolation: isolate;
}

/* //////////////////////////NAV//////////////////////////////// */

.hamburger-menu{
    display: block;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1rem;

}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.links{
    display: none;
    align-items: center;
}

.logo{
    align-self: center;
    width: 9rem;
    margin-bottom: 0.225rem;
}
.shoping-acc{
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.avatar-img{
    width: 30px;
}


/* //////////////////////////MAIN//////////////////////////////// */

.container{
    display: flex;
    flex-direction: column;
    max-width: 765px;
    justify-content: center;
    margin: 0 auto;

}
.images{
    margin: 0 auto;
    padding-bottom: 1rem;
}

.prodcut-info{
    display: grid;
    grid-template-areas:
    ''
    ;
}


.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(265, 91%, 54%);
}